/* --- Base --- */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

h1, h5, h6 {
    text-align: center;
}

nav {
    background-color: #01cccc !important;
}

#navbarlogo {
    max-width: 150px;
    margin-top: 10px
}

@media screen and (max-width:992px){
    .brand-logo {
        margin-left: 0 !important;
    }
}

.sidenav {
    text-align: center;
}

footer {
    background-color: #01cccc !important;
}

#materializelogo {
    max-width: 30px;
    margin-bottom: -10px;
}

.brand-logo {
    margin-left: 20px;
}

/* --- Home page --- */

.logoimg {
    margin-top: 30px;
}

#heroimage {
    max-width: 500px;
    border: 3px solid black;
    margin-top: 50px;
}

@media screen and (max-width:700px){
    #heroimage {
        max-width: 70%;
    }
    .logoimg img {
        width: 280px;
    }
}

.heroposition {
    background: linear-gradient(180deg, white 50%, #01cccc 50%);
}

#keyboardoftheweek {
    font-size: 20px !important;
    margin-bottom: 20px;
}

#creatoroftheweek {
    font-size: 14px !important;
    font-style: italic;
    padding-bottom: 55px;
}

.startbuttons {
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #019999 !important;
}

/* --- Project page --- */

.filterrow {
    margin-top: 50px;
    margin-bottom: 50px;
}

#filterinput {
    margin-top: 20px;
}

.filterbutton {
    margin: 25px;
    min-width: 135px;
}

.cardrow {
    margin-bottom: 200px !important;
}

@media screen and (min-width:993px)
{
    .card img {
        height: 145px;
        max-width: 240px;
    }
    .projectcards {
        max-width: 240px;
    }
}
.card-content {
    height: 190px;
}
.card-content p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.descriptivetext {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#signature {
    font-size: 14px !important;
    font-style: italic;
    color: lightgrey;
    margin-top: 20px;
}

.card-action a {
    text-align: center;
}

/* --- View Project --- */

#viewpicture {
    max-width: 300px;
    border: 3px solid black;
}

.imageposition {
    background: linear-gradient(180deg, white 50%, #01cccc 50%);
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.inforow  {
    margin-bottom: 50px;
}

.inforow h6 {
    font-weight: bold;
}

@media screen and (max-width:600px){
    #viewpicture {
        max-width: 200px;
    }
    .imageposition {
        margin-left: 0;
        margin-right: 0;
    }
}

#signatureview {
    font-size: 14px !important;
    font-style: italic;
    color: grey;
    text-align: center;
    margin-bottom: 30px;
}

.projectdescription {
    font-style: italic;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
    font-size: 1.3em;
}

.editbutton {
    margin: 50px;
}

/* --- Edit page --- */

.savebutton {
    margin-bottom: 20px;
}

/* --- Build page --- */

.top-option {
    margin-bottom: 20px;
}

.buildbutton {
    margin: 50px;
}

@media screen and (min-width:601px){
    .buildbutton {
        margin-bottom: 320px !important;
    }
}

/* --- Login page --- */

.joinbuttons {
    margin-bottom: 100px
}

.loginbutton {
    margin-bottom: 50px
}

.registerrow {
    margin-bottom: 290px !important;
}

/* --- Error/Not logged in --- */

#oops-picture {
    width: 600px;
}

/* --- Profile page --- */

.profilewelcome {
    margin-bottom: 50px;
}

/* --- About page --- */

.aboutheader {
    margin-bottom: 50px;
}

.abouttext {

}

.aboutstatement {
    font-weight: bold;
}