/* --- Base --- */

h1, h5 {
    text-align: center;
}

nav {
    background-color: #01cccc !important;
}

footer {
    background-color: #01cccc !important;
}

#materializelogo {
    max-width: 30px;
    margin-bottom: -10px;
}

.brand-logo {
    margin-left: 20px;
}

/* --- Home page --- */

#heroimage {
    max-width: 500px;
    border: 3px solid black;
    margin-top: 100px;
    margin-bottom: 35px;
}

.heroposition {
    background: linear-gradient(180deg, white 50%, #01cccc 50%);
}

#keyboardoftheweek {
    font-size: 20px !important;
    margin-bottom: 20px;
}

#creatoroftheweek {
    font-size: 14px !important;
    font-style: italic;
    padding-bottom: 55px;
}

.startbuttons {
    margin-top: 30px;
    margin-bottom: 100px;
}

.startbuttons a {
    background-color: #019999 !important;
}


/* --- Project page --- */

.filterrow {
    margin-top: 50px;
    margin-bottom: 50px;
}

#filterinput {
    margin-top: 20px;
}

.filterbutton {
    margin-top: 25px;
}


@media screen and (min-width:993px)
{
    .card img {
        height: 145px;
        max-width: 240px;
    }
    .projectcards {
        max-width: 240px;
    }
}
.card-content {
    height: 190px;
}
.card-content p {
    margin-bottom: 20px;
    margin-top: 20px;
}

#signature {
    font-size: 14px !important;
    font-style: italic;
    color: lightgrey;
}

/* --- View Project --- */

#viewpicture {
    max-width: 300px;
    border: 3px solid black;
}

.imageposition {
    background: linear-gradient(180deg, white 50%, #01cccc 50%);
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.inforow img {
    width: 200px;
    height: 200px;
}

#signatureview {
    font-size: 14px !important;
    font-style: italic;
    color: grey;
    text-align: center;
    margin-bottom: 30px;
}