{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
<div class="row">
    <div class="col s12 logoimg center-align">
        <img src="static/images/logo.png" alt="logo">
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <h4 class="aboutheader">We simply love mechanical keyboards</h4>
        <h6 class="abouttext">Many of us spend a lot of time in front of the computer (for work, games or simply searching for the funniest cat videos...)</h6>
        <h6 class="aboutstatement">The keyboard is our main tool</h6>
        <h6 class="abouttext">A nice typing experience gives us extra joy in getting the work done. True RGB lighting makes you dance through the late night raids</h6>
        <h6 class="aboutstatement">A mechanical keyboard does it like nothing else</h6>
        <h6 class="abouttext">We at Rate My Mech want other keyboard enthusiats to be able to share their own keyboards and view others. Share and gain inspiration for the next build</h6>
        <h6 class="aboutstatement">Once again, we simply love mechanical keyboards</h6>
    </div>
</div>

{% endblock %}