{% extends 'base.html' %}
{% block content %} 

<h1>Oops, something went wrong...</h1>
<div class="row">
<div class="col s12 center-align">
<img id="oops-picture" src="static/images/oops.png" alt="Oops">
</div>
<div class="col s12 center-align">
<h4>Something went wrong, are you sure you used the right login credentials?</h4>
<h4>Try to log in again by clicking <a href="{{url_for('login')}}">here</a></h4>
</div>
<div class="col s12 center-align">
<h5>Not a member yet? Sign up today by clicking <a href="{{url_for('register')}}">here</a></h5>
</div>
</div>
{% endblock %}