{% extends 'base.html' %}
{% block content %} 

<h1>Hi {{username}}!</h1>

{% if projects["creator"] == username %}
    
    <h5>Here are your current projects</h5>
    <div class="row center-align">
    {% for project in all_projects %}
        <div class="col s10 l4 push-l1 projectcards">
            <div class="card">
                <div class="card-image">
                    <img src="{{project.imgURL}}">
                </div>
                <div class="card-content">
                    <h6>{{project.projectName}}</h6>
                    <p>{{project.description}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('view_project', project_id=project._id) }}">View project</a>
                </div>
            </div> 
        </div>
        {% endfor %}
    </div>
    {% else %}
    
    <div class="row center-align">
        <h6>You have not shared a project yet, let's do it! </h6>
        <a class="waves-effect waves-light btn startbuttons" href="{{url_for('build')}}"><i class="material-icons left">mood</i>Share your keyboard</a>
    </div>
    
    
    {% endif %}

    <h6>Want to share another keyboard?</h6>
    <div class="row center-align">
        <div class="col s12">
            <a class="waves-effect waves-light btn startbuttons" href="{{url_for('build')}}"><i class="material-icons left">mood</i>Build a keyboard</a>
        </div>
    </div>
{% endblock %}