{% extends 'base.html' %}

{% block content %}

<h1>View keyboards</h1>
<form action="{{ url_for('projects') }} " method="POST">
    <div class="row filterrow">
        <div class="col s12 m2 push-m3">
       <label>Case material</label>
        <select id="casemat" name="casemat" class="browser-default">
            <option value="none" selected>Choose your option</option>
            {% for mat in casematerial %}
            <option  value="{{mat.Material}}">{{mat.Material}}</option>
            {% endfor %}
        </select>  
        </div>
        <div class="col s12 m2 push-m3">
       <label>Size</label>
        <select id="size" name="size" class="browser-default">
            <option value="none"  selected>Choose your option</option>
            {% for siz in size %}
            <option value="{{siz.Size}}">{{siz.Size}}</option>
            {% endfor %}
        </select>  
        </div>
        <div class="col s12 m2 push-m3">
       <label>Layout</label>
        <select id="layout" name="layout" class="browser-default">
            <option value="none"  selected>Choose your option</option>
            {% for lay in layout %}
            <option value="{{lay.Type}}">{{lay.Type}}</option>
            {% endfor %}
        </select>  
        </div>
        </div>
        <div class="row">
        <div class="col s12 center-align">
            <button class="waves-effect waves-light btn filterbutton" type="submit">Add filter</button>
            <a class="waves-effect waves-light btn filterbutton" href="{{ url_for('projects') }}" onclick="clear()">Clear filters</a>
        </div>
    </div>
</form>
    
    <div class="row center-align cardrow">
        {% for project in projects %}
        <div class="col s8 push-s2 m4 push-xl1 projectcards">
            <div class="card">
                <div class="card-image">
                    <img src="{{project.imgURL}}">
                </div>
                <div class="card-content">
                    <h6>{{project.projectName}}</h6>
                    <p class="descriptivetext">{{project.description}}</p>
                    <p id="signature">Created by: {{project.creator}}</p>
                </div>
                <div class="card-action">
                <a href="{{ url_for('view_project', project_id=project._id) }}" class="btn waves-effect waves-light teal lighten-3">View keyboard</a>
                </div>
            </div> 
        </div>
        {% endfor %}
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.getElementById('casemat');
        if (localStorage['casemat']) { 
            input.value = localStorage['casemat']; 
        }
        input.onchange = function () {
            localStorage['casemat'] = this.value;
        }
        var input = document.getElementById('size');
        if (localStorage['size']) { 
            input.value = localStorage['size']; 
        }
        input.onchange = function () {
            localStorage['size'] = this.value;
        }
        var input = document.getElementById('layout');
        if (localStorage['layout']) { 
            input.value = localStorage['layout']; 
        }
        input.onchange = function () {
            localStorage['layout'] = this.value;
        }
    });
    function click() {
    clearItem('casemat');
    }
    </script>
{% endblock %}