{% extends 'base.html' %}

{% block content %}

<h1>View keyboards</h1>
<form action="{{ url_for('projects') }} " method="POST">
    <div class="row filterrow">
        <div class="col s12 m3 push-m2">
       <label>Case material</label>
        <select id="casemat" name="casemat" class="browser-default">
            <option value="none" selected>Choose your option</option>
            {% for mat in casematerial %}
            <option  value="{{mat.Material}}">{{mat.Material}}</option>
            {% endfor %}
        </select>  
        </div>
        <div class="col s12 m3 push-m2">
       <label>Size</label>
        <select id="size" name="size" class="browser-default">
            <option value="none"  selected>Choose your option</option>
            {% for siz in size %}
            <option value="{{siz.Size}}">{{siz.Size}}</option>
            {% endfor %}
        </select>  
        </div>
        <div class="col s12 m3 push-m2">
       <label>Layout</label>
        <select id="layout" name="layout" class="browser-default">
            <option value="none"  selected>Choose your option</option>
            {% for lay in layout %}
            <option value="{{lay.Type}}">{{lay.Type}}</option>
            {% endfor %}
        </select>  
        </div>
        </div>
        <div class="row">
        <div class="col s12 m12 push-m5">
            <button class="waves-effect waves-light btn startbuttons" type="submit">Filter</button>
            <a class="waves-effect waves-light btn startbuttons" href="{{ url_for('projects') }}">Clear filters</a>
        </div>
        </div>
    
</form>
    
    <div class="row center-align">
    
        {% for project in projects %}
        <div class="col s10 l4 push-l1 projectcards">
            <div class="card">
                <div class="card-image">
                    <img src="{{project.imgURL}}">
                </div>
                <div class="card-content">
                    <h6>{{project.projectName}}</h6>
                    <p>{{project.description}}</p>
                    <p id="signature">Created by: {{project.creator}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('view_project', project_id=project._id) }}">View project</a>
                </div>
            </div> 
        </div>
        {% endfor %}
    </div>

    <div class="center-align">
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
    

    <script>$
    (document).ready(function(){
    $('select').formSelect();
  });</script>
{% endblock %}